/*

1px     - 800px   = xs
801px   - 1280px  = sm
1281px  - 1600px  = md
1601px  - 2100px  = lg
2101px  - 3440px  = xl
3441px  - ~px     = xx

*/

:root{
    /* Cores */
    --light: #FFFFFF;
    --dark: #0E2431;
    --lightPurple: #FF00FF;
    --normalPurple: #9F00FF;
    --darkPurple: #3F00FF;
}

@font-face {
    font-family: "FredokaOne";
    src: url("../fonts/FredokaOne/FredokaOne-Regular.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

/* Animação de aparecer borda inferior no link da navbar */
@keyframes navbar-link-hover {
    from {width: 0;}
    to {width: calc(100% - 80px);}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
    font-size: 1rem;
}

.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

[class^="row"] {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
.row-between {justify-content: space-between;}
.row-evenly {justify-content: space-evenly;}
.row-center {justify-content: center;}
.row-start {justify-content: flex-start;}
.row-end {justify-content: flex-end;}
.items-center {align-items: center;}
.items-start {align-items: flex-start;}
.items-end {align-items: flex-end;}
.flex-column {flex-direction: column;}
.flex-nowrap {flex-wrap: nowrap;}

[class^="col"] {
    display: block;
    width: 100%;
}
.fit-child {width: max-content; height: max-content;}

/* Para os xs */
@media only screen and (min-width: 1px) {
    .col-0-xs {width: 0; display: none;}
    .col-1-xs {width: 8.3333%; display: block;}
    .col-2-xs {width: 16.6666%; display: block;}
    .col-3-xs {width: 25%; display: block;}
    .col-4-xs {width: 33.3333%; display: block;}
    .col-5-xs {width: 41.6666%; display: block;}
    .col-6-xs {width: 50%; display: block;}
    .col-7-xs {width: 58.3333%; display: block;}
    .col-8-xs {width: 66.6666%; display: block;}
    .col-9-xs {width: 75%; display: block;}
    .col-10-xs {width: 83.3333%; display: block;}
    .col-11-xs {width: 91.6666%; display: block;}
    .col-12-xs {width: 100%; display: block;}
}

/* Para os sm */
@media only screen and (min-width: 801px) {
    .col-0-sm {width: 0; display: none;}
    .col-1-sm {width: 8.3333%; display: block;}
    .col-2-sm {width: 16.6666%; display: block;}
    .col-3-sm {width: 25%; display: block;}
    .col-4-sm {width: 33.3333%; display: block;}
    .col-5-sm {width: 41.6666%; display: block;}
    .col-6-sm {width: 50%; display: block;}
    .col-7-sm {width: 58.3333%; display: block;}
    .col-8-sm {width: 66.6666%; display: block;}
    .col-9-sm {width: 75%; display: block;}
    .col-10-sm {width: 83.3333%; display: block;}
    .col-11-sm {width: 91.6666%; display: block;}
    .col-12-sm {width: 100%; display: block;}
}

/* Para os md */
@media only screen and (min-width: 1281px) {
    .col-0-md {width: 0; display: none;}
    .col-1-md {width: 8.3333%; display: block;}
    .col-2-md {width: 16.6666%; display: block;}
    .col-3-md {width: 25%; display: block;}
    .col-4-md {width: 33.3333%; display: block;}
    .col-5-md {width: 41.6666%; display: block;}
    .col-6-md {width: 50%; display: block;}
    .col-7-md {width: 58.3333%; display: block;}
    .col-8-md {width: 66.6666%; display: block;}
    .col-9-md {width: 75%; display: block;}
    .col-10-md {width: 83.3333%; display: block;}
    .col-11-md {width: 91.6666%; display: block;}
    .col-12-md {width: 100%; display: block;}
}

/* Para os lg */
@media only screen and (min-width: 1601px) {
    .col-0-lg {width: 0; display: none;}
    .col-1-lg {width: 8.3333%; display: block;}
    .col-2-lg {width: 16.6666%; display: block;}
    .col-3-lg {width: 25%; display: block;}
    .col-4-lg {width: 33.3333%; display: block;}
    .col-5-lg {width: 41.6666%; display: block;}
    .col-6-lg {width: 50%; display: block;}
    .col-7-lg {width: 58.3333%; display: block;}
    .col-8-lg {width: 66.6666%; display: block;}
    .col-9-lg {width: 75%; display: block;}
    .col-10-lg {width: 83.3333%; display: block;}
    .col-11-lg {width: 91.6666%; display: block;}
    .col-12-lg {width: 100%; display: block;}
}

/* Para os xl */
@media only screen and (min-width: 2101px) {
    .col-0-xl {width: 0; display: none;}
    .col-1-xl {width: 8.3333%; display: block;}
    .col-2-xl {width: 16.6666%; display: block;}
    .col-3-xl {width: 25%; display: block;}
    .col-4-xl {width: 33.3333%; display: block;}
    .col-5-xl {width: 41.6666%; display: block;}
    .col-6-xl {width: 50%; display: block;}
    .col-7-xl {width: 58.3333%; display: block;}
    .col-8-xl {width: 66.6666%; display: block;}
    .col-9-xl {width: 75%; display: block;}
    .col-10-xl {width: 83.3333%; display: block;}
    .col-11-xl {width: 91.6666%; display: block;}
    .col-12-xl {width: 100%; display: block;}
}

/* Para os xx */
@media only screen and (min-width: 3441px) {
    .col-0-xx {width: 0; display: none;}
    .col-1-xx {width: 8.3333%; display: block;}
    .col-2-xx {width: 16.6666%; display: block;}
    .col-3-xx {width: 25%; display: block;}
    .col-4-xx {width: 33.3333%; display: block;}
    .col-5-xx {width: 41.6666%; display: block;}
    .col-6-xx {width: 50%; display: block;}
    .col-7-xx {width: 58.3333%; display: block;}
    .col-8-xx {width: 66.6666%; display: block;}
    .col-9-xx {width: 75%; display: block;}
    .col-10-xx {width: 83.3333%; display: block;}
    .col-11-xx {width: 91.6666%; display: block;}
    .col-12-xx {width: 100%; display: block;}
}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="radius"] {
    border-radius: 99999px;
}
.radius-5 {border-radius: 5px;}
.radius-10 {border-radius: 10px;}
.radius-15 {border-radius: 15px;}
.radius-20 {border-radius: 20px;}

[class*="padding"] {
    padding: 10px;
}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="margin"] {
    margin: 10px;
}
.margin-5  {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}

.icon-xs, .font-size-xs {font-size: 0.5rem;}
.icon-sm, .font-size-sm {font-size: 1rem;}
.icon-md, .font-size-md {font-size: 1.5rem;}
.icon-lg, .font-size-lg {font-size: 2rem;}
.icon-xl, .font-size-xl {font-size: 2.5rem;}
.icon-xx, .font-size-xx {font-size: 3rem;}

.img-xs {height: 0.5rem;}
.img-sm {height: 1rem;}
.img-md {height: 1.5rem;}
.img-lg {height: 2rem;}
.img-xl {height: 2.5rem;}
.img-xx {height: 3rem;}

.line-xs {line-height: 0.5rem;}
.line-sm {line-height: 1rem;}
.line-md {line-height: 1.5rem;}
.line-lg {line-height: 2rem;}
.line-xl {line-height: 2.5rem;}
.line-xx {line-height: 3rem;}

.max-width-1 {max-width: 8.3333%;}
.max-width-2 {max-width: 16.6666%;}
.max-width-3 {max-width: 25%;}
.max-width-4 {max-width: 33.3333%;}
.max-width-5 {max-width: 41.6666%;}
.max-width-6 {max-width: 50%;}
.max-width-7 {max-width: 58.3333%;}
.max-width-8 {max-width: 66.6666%;}
.max-width-9 {max-width: 75%;}
.max-width-10 {max-width: 83.3333%;}
.max-width-11 {max-width: 91.6666%;}
.max-width-12 {max-width: 100%;}

.max-height-1 {max-height: 8.3333%;}
.max-height-2 {max-height: 16.6666%;}
.max-height-3 {max-height: 25%;}
.max-height-4 {max-height: 33.3333%;}
.max-height-5 {max-height: 41.6666%;}
.max-height-6 {max-height: 50%;}
.max-height-7 {max-height: 58.3333%;}
.max-height-8 {max-height: 66.6666%;}
.max-height-9 {max-height: 75%;}
.max-height-10 {max-height: 83.3333%;}
.max-height-11 {max-height: 91.6666%;}
.max-height-12 {max-height: 100%;}

.display-none {display: none;}
.display-block {display: block;}
.display-inline-block {display: inline-block;}

.top {top: 0;}
.right {right: 0;}
.bottom {bottom: 0;}
.left {left: 0;}

[class*="lift"] {
    box-shadow: 0px 0px 2px 0px #000000;
}
.lift-2 {box-shadow: 0px 0px 2px 0px #000000;}
.lift-4 {box-shadow: 0px 0px 4px 0px #000000;}
.lift-6 {box-shadow: 0px 0px 6px 0px #000000;}
.lift-8 {box-shadow: 0px 0px 8px 0px #000000;}
.lift-10 {box-shadow: 0px 0px 10px 0px #000000;}

.light {color: var(--light);}
.dark {color: var(--dark);}
.light-purple {color: var(--lightPurple);}
.normal-purple {color: var(--normalPurple);}
.dark-purple {color: var(--darkPurple);}

.bg-light {background-color: var(--light);}
.bg-dark {background-color: var(--dark);}
.bg-light-purple {background-color: var(--lightPurple);}
.bg-normal-purple {background-color: var(--normalPurple);}
.bg-dark-purple {background-color: var(--darkPurple);}

.fredoka-one {font-family: "FredokaOne";}
.nunito {font-family: "Nunito";}
.poppins{font-family: "Poppins";}

.navbar li a {
    padding: 20px 40px;
}

.navbar li a:hover::after {
    content: "";
    position: absolute;
    width: calc(100% - 80px);
    height: 5px;
    background-color: var(--normalPurple);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 99999px;
    animation-name: navbar-link-hover;
    animation-duration: 0.3s;
}

.navbar a {
    position: relative;
    display: block;
    font-weight: bold;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

[class*="dropdown-items"] {
    z-index: 1;
    display: none;/**/
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    width: max-content;
    height: max-content;
    overflow: scroll;
    background-color: var(--light);
}
.dropdown-items-top-left {
    bottom: 100%;
    right: 0;
}
.dropdown-items-top-center {
    bottom: 100%;
    right: 50%;
    transform: translateX(50%);
}
.dropdown-items-top-right {
    bottom: 100%;
    left: 0;
}
.dropdown-items-bottom-left {
    top: 100%;
    right: 0;
}
.dropdown-items-bottom-center {
    top: 100%;
    right: 50%;
    transform: translateX(50%);
}
.dropdown-items-bottom-right {
    top: 100%;
    left: 0;
}
.dropdown-items-left-top {
    right: 100%;
    bottom: 0;
}
.dropdown-items-left-center {
    right: 100%;
    bottom: 50%;
    transform: translateY(50%);
}
.dropdown-items-left-bottom {
    right: 100%;
    top: 0;
}
.dropdown-items-right-top {
    left: 100%;
    bottom: 0;
}
.dropdown-items-right-center {
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
}
.dropdown-items-right-bottom {
    left: 100%;
    top: 0;
}

.slideshow-board img{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}