@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "FunCity";
    src: url("../fonts/FunCity/FunCity-Regular.ttf");
}
@font-face {
    font-family: "FredokaOne";
    src: url("../fonts/FredokaOne/FredokaOne-Regular.ttf");
}
@font-face {
    font-family: "ChakraPetch";
    src: url("../fonts/ChakraPetch/ChakraPetch-Regular.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --light-purple: #FF00FF;
    --normal-purple: #9F00FF;
    --dark-purple: #3F00FF;
    --light: #FFFFFF;
    --dark: #000000;
}

.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

[class*="row"] {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.row-between {
    justify-content: space-between;
}
.row-evenly {
    justify-content: space-evenly;
}
.row-center {
    justify-content: center;
}
.row-start {
    justify-content: flex-start;
}
.row-end {
    justify-content: flex-end;
}

[class*="col"] {
    display: block;
    width: 100%;
}
.col-1 {width: 8.3333%;}
.col-2 {width: 16.6666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333%;}
.col-5 {width: 41.6666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333%;}
.col-8 {width: 66.6666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3333%;}
.col-11 {width: 91.6666%;}
.col-12 {width: 100%;}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="radius"] {
    border-radius: 99999px;
}
.radius-5 {border-radius: 5px;}
.radius-10 {border-radius: 10px;}
.radius-15 {border-radius: 15px;}
.radius-20 {border-radius: 20px;}

[class*="padding"] {
    padding: 10px;
}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="margin"] {
    margin: 10px;
}
.margin-5 {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}

.fun-city {font-family: "FunCity";}
.fredoka-one {font-family: "FredokaOne";}
.chakra-petch {font-family: "ChakraPetch";}
.nunito {font-family: "Nunito";}
.poppins{font-family: "Poppins";}