/*

1px     - 800px   = xs
801px   - 1280px  = sm
1281px  - 1600px  = md
1601px  - 2100px  = lg
2101px  - 3440px  = xl
3441px  - ~px     = xx

*/

:root{
    /* Cores */
    --light: #FFFFFF;
    --dark: #121212;
    /*--dark: #0E2431;*/
    --dark: #000000;
    --lightPurple: #FF00FF;
    --normalPurple: #9F00FF;
    --darkPurple: #3F00FF;
}

@font-face {
    font-family: "FredokaOne";
    src: url("../fonts/FredokaOne/FredokaOne-Regular.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Graphik";
    src: url("../fonts/Graphik/GraphikRegular.otf");
}

/* Animação de aparecer borda inferior no link da navbar */
@keyframes navbar-link-hover {
    from {width: 0;}
    to {width: calc(100% - 80px);}
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.1s linear;
}

body {
    background-color: var(--light);
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-inline: auto;
}

.overflow {overflow: auto;}

/*p {
    text-indent: 2rem;
}*/

.img-fluid {
    width: 100%;
    height: auto;
}

.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

[class^="row"] {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
.row-between {justify-content: space-between;}
.row-evenly {justify-content: space-evenly;}
.row-center {justify-content: center;}
.row-start {justify-content: flex-start;}
.row-end {justify-content: flex-end;}
.items-center {align-items: center;}
.items-start {align-items: flex-start;}
.items-end {align-items: flex-end;}
.flex-column {flex-direction: column;}
.flex-nowrap {flex-wrap: nowrap;}

[class^="col"] {
    display: block;
    width: 100%;
}
.fit-child {width: max-content; height: max-content;}
.max-child {width: 100%; height: auto; max-width: max-content; max-height: max-content;}

.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}
.order-7 {order: 7;}
.order-8 {order: 8;}
.order-9 {order: 9;}
.order-10 {order: 10;}
.order-11 {order: 11;}
.order-12 {order: 12;}

/* Para os xs */
@media only screen and (min-width: 1px) {
    :root {font-size: 12px;}

    .row-between-xs {justify-content: space-between;}
    .row-evenly-xs {justify-content: space-evenly;}
    .row-center-xs {justify-content: center;}
    .row-start-xs {justify-content: flex-start;}
    .row-end-xs {justify-content: flex-end;}
    .items-center-xs {align-items: center;}
    .items-start-xs {align-items: flex-start;}
    .items-end-xs {align-items: flex-end;}
    .flex-column-xs {flex-direction: column;}
    .flex-nowrap-xs {flex-wrap: nowrap;}

    .text-center-xs {text-align: center;}
    .text-left-xs {text-align: left;}
    .text-right-xs {text-align: right;}
    .text-justify-xs {text-align: justify;}

    .col-0-xs {width: 0; display: none;}
    .col-1-xs {width: 8.3333%; display: block;}
    .col-2-xs {width: 16.6666%; display: block;}
    .col-3-xs {width: 25%; display: block;}
    .col-4-xs {width: 33.3333%; display: block;}
    .col-5-xs {width: 41.6666%; display: block;}
    .col-6-xs {width: 50%; display: block;}
    .col-7-xs {width: 58.3333%; display: block;}
    .col-8-xs {width: 66.6666%; display: block;}
    .col-9-xs {width: 75%; display: block;}
    .col-10-xs {width: 83.3333%; display: block;}
    .col-11-xs {width: 91.6666%; display: block;}
    .col-12-xs {width: 100%; display: block;}

    .order-1-xs {order: 1;}
    .order-2-xs {order: 2;}
    .order-3-xs {order: 3;}
    .order-4-xs {order: 4;}
    .order-5-xs {order: 5;}
    .order-6-xs {order: 6;}
    .order-7-xs {order: 7;}
    .order-8-xs {order: 8;}
    .order-9-xs {order: 9;}
    .order-10-xs {order: 10;}
    .order-11-xs {order: 11;}
    .order-12-xs {order: 12;}
}

/* Para os sm */
@media only screen and (min-width: 801px) {
    :root {font-size: 14px;}

    .row-between-sm {justify-content: space-between;}
    .row-evenly-sm {justify-content: space-evenly;}
    .row-center-sm {justify-content: center;}
    .row-start-sm {justify-content: flex-start;}
    .row-end-sm {justify-content: flex-end;}
    .items-center-sm {align-items: center;}
    .items-start-sm {align-items: flex-start;}
    .items-end-sm {align-items: flex-end;}
    .flex-column-sm {flex-direction: column;}
    .flex-nowrap-sm {flex-wrap: nowrap;}
    
    .text-center-sm {text-align: center;}
    .text-left-sm {text-align: left;}
    .text-right-sm {text-align: right;}
    .text-justify-sm {text-align: justify;}

    .col-0-sm {width: 0; display: none;}
    .col-1-sm {width: 8.3333%; display: block;}
    .col-2-sm {width: 16.6666%; display: block;}
    .col-3-sm {width: 25%; display: block;}
    .col-4-sm {width: 33.3333%; display: block;}
    .col-5-sm {width: 41.6666%; display: block;}
    .col-6-sm {width: 50%; display: block;}
    .col-7-sm {width: 58.3333%; display: block;}
    .col-8-sm {width: 66.6666%; display: block;}
    .col-9-sm {width: 75%; display: block;}
    .col-10-sm {width: 83.3333%; display: block;}
    .col-11-sm {width: 91.6666%; display: block;}
    .col-12-sm {width: 100%; display: block;}

    .order-1-sm {order: 1;}
    .order-2-sm {order: 2;}
    .order-3-sm {order: 3;}
    .order-4-sm {order: 4;}
    .order-5-sm {order: 5;}
    .order-6-sm {order: 6;}
    .order-7-sm {order: 7;}
    .order-8-sm {order: 8;}
    .order-9-sm {order: 9;}
    .order-10-sm {order: 10;}
    .order-11-sm {order: 11;}
    .order-12-sm {order: 12;}
}

/* Para os md */
@media only screen and (min-width: 1281px) {
    :root {font-size: 16px;}
    
    .row-between-md {justify-content: space-between;}
    .row-evenly-md {justify-content: space-evenly;}
    .row-center-md {justify-content: center;}
    .row-start-md {justify-content: flex-start;}
    .row-end-md {justify-content: flex-end;}
    .items-center-md {align-items: center;}
    .items-start-md {align-items: flex-start;}
    .items-end-md {align-items: flex-end;}
    .flex-column-md {flex-direction: column;}
    .flex-nowrap-md {flex-wrap: nowrap;}

    .text-center-md {text-align: center;}
    .text-left-md {text-align: left;}
    .text-right-md {text-align: right;}
    .text-justify-md {text-align: justify;}

    .col-0-md {width: 0; display: none;}
    .col-1-md {width: 8.3333%; display: block;}
    .col-2-md {width: 16.6666%; display: block;}
    .col-3-md {width: 25%; display: block;}
    .col-4-md {width: 33.3333%; display: block;}
    .col-5-md {width: 41.6666%; display: block;}
    .col-6-md {width: 50%; display: block;}
    .col-7-md {width: 58.3333%; display: block;}
    .col-8-md {width: 66.6666%; display: block;}
    .col-9-md {width: 75%; display: block;}
    .col-10-md {width: 83.3333%; display: block;}
    .col-11-md {width: 91.6666%; display: block;}
    .col-12-md {width: 100%; display: block;}

    .order-1-md {order: 1;}
    .order-2-md {order: 2;}
    .order-3-md {order: 3;}
    .order-4-md {order: 4;}
    .order-5-md {order: 5;}
    .order-6-md {order: 6;}
    .order-7-md {order: 7;}
    .order-8-md {order: 8;}
    .order-9-md {order: 9;}
    .order-10-md {order: 10;}
    .order-11-md {order: 11;}
    .order-12-md {order: 12;}
}

/* Para os lg */
@media only screen and (min-width: 1601px) {
    :root {font-size: 18px;}

    .row-between-lg {justify-content: space-between;}
    .row-evenly-lg {justify-content: space-evenly;}
    .row-center-lg {justify-content: center;}
    .row-start-lg {justify-content: flex-start;}
    .row-end-lg {justify-content: flex-end;}
    .items-center-lg {align-items: center;}
    .items-start-lg {align-items: flex-start;}
    .items-end-lg {align-items: flex-end;}
    .flex-column-lg {flex-direction: column;}
    .flex-nowrap-lg {flex-wrap: nowrap;}

    .text-center-lg {text-align: center;}
    .text-left-lg {text-align: left;}
    .text-right-lg {text-align: right;}
    .text-justify-lg {text-align: justify;}

    .col-0-lg {width: 0; display: none;}
    .col-1-lg {width: 8.3333%; display: block;}
    .col-2-lg {width: 16.6666%; display: block;}
    .col-3-lg {width: 25%; display: block;}
    .col-4-lg {width: 33.3333%; display: block;}
    .col-5-lg {width: 41.6666%; display: block;}
    .col-6-lg {width: 50%; display: block;}
    .col-7-lg {width: 58.3333%; display: block;}
    .col-8-lg {width: 66.6666%; display: block;}
    .col-9-lg {width: 75%; display: block;}
    .col-10-lg {width: 83.3333%; display: block;}
    .col-11-lg {width: 91.6666%; display: block;}
    .col-12-lg {width: 100%; display: block;}

    .order-1-lg {order: 1;}
    .order-2-lg {order: 2;}
    .order-3-lg {order: 3;}
    .order-4-lg {order: 4;}
    .order-5-lg {order: 5;}
    .order-6-lg {order: 6;}
    .order-7-lg {order: 7;}
    .order-8-lg {order: 8;}
    .order-9-lg {order: 9;}
    .order-10-lg {order: 10;}
    .order-11-lg {order: 11;}
    .order-12-lg {order: 12;}
}

/* Para os xl */
@media only screen and (min-width: 2101px) {
    :root {font-size: 20px;}

    .row-between-xl {justify-content: space-between;}
    .row-evenly-xl {justify-content: space-evenly;}
    .row-center-xl {justify-content: center;}
    .row-start-xl {justify-content: flex-start;}
    .row-end-xl {justify-content: flex-end;}
    .items-center-xl {align-items: center;}
    .items-start-xl {align-items: flex-start;}
    .items-end-xl {align-items: flex-end;}
    .flex-column-xl {flex-direction: column;}
    .flex-nowrap-xl {flex-wrap: nowrap;}

    .text-center-xl {text-align: center;}
    .text-left-xl {text-align: left;}
    .text-right-xl {text-align: right;}
    .text-justify-xl {text-align: justify;}

    .col-0-xl {width: 0; display: none;}
    .col-1-xl {width: 8.3333%; display: block;}
    .col-2-xl {width: 16.6666%; display: block;}
    .col-3-xl {width: 25%; display: block;}
    .col-4-xl {width: 33.3333%; display: block;}
    .col-5-xl {width: 41.6666%; display: block;}
    .col-6-xl {width: 50%; display: block;}
    .col-7-xl {width: 58.3333%; display: block;}
    .col-8-xl {width: 66.6666%; display: block;}
    .col-9-xl {width: 75%; display: block;}
    .col-10-xl {width: 83.3333%; display: block;}
    .col-11-xl {width: 91.6666%; display: block;}
    .col-12-xl {width: 100%; display: block;}

    .order-1-xl {order: 1;}
    .order-2-xl {order: 2;}
    .order-3-xl {order: 3;}
    .order-4-xl {order: 4;}
    .order-5-xl {order: 5;}
    .order-6-xl {order: 6;}
    .order-7-xl {order: 7;}
    .order-8-xl {order: 8;}
    .order-9-xl {order: 9;}
    .order-10-xl {order: 10;}
    .order-11-xl {order: 11;}
    .order-12-xl {order: 12;}
}

/* Para os xx */
@media only screen and (min-width: 3441px) {
    :root {font-size: 22px;}

    .row-between-xx {justify-content: space-between;}
    .row-evenly-xx {justify-content: space-evenly;}
    .row-center-xx {justify-content: center;}
    .row-start-xx {justify-content: flex-start;}
    .row-end-xx {justify-content: flex-end;}
    .items-center-xx {align-items: center;}
    .items-start-xx {align-items: flex-start;}
    .items-end-xx {align-items: flex-end;}
    .flex-column-xx {flex-direction: column;}
    .flex-nowrap-xx {flex-wrap: nowrap;}

    .text-center-xx {text-align: center;}
    .text-left-xx {text-align: left;}
    .text-right-xx {text-align: right;}
    .text-justify-xx {text-align: justify;}

    .col-0-xx {width: 0; display: none;}
    .col-1-xx {width: 8.3333%; display: block;}
    .col-2-xx {width: 16.6666%; display: block;}
    .col-3-xx {width: 25%; display: block;}
    .col-4-xx {width: 33.3333%; display: block;}
    .col-5-xx {width: 41.6666%; display: block;}
    .col-6-xx {width: 50%; display: block;}
    .col-7-xx {width: 58.3333%; display: block;}
    .col-8-xx {width: 66.6666%; display: block;}
    .col-9-xx {width: 75%; display: block;}
    .col-10-xx {width: 83.3333%; display: block;}
    .col-11-xx {width: 91.6666%; display: block;}
    .col-12-xx {width: 100%; display: block;}

    .order-1-xx {order: 1;}
    .order-2-xx {order: 2;}
    .order-3-xx {order: 3;}
    .order-4-xx {order: 4;}
    .order-5-xx {order: 5;}
    .order-6-xx {order: 6;}
    .order-7-xx {order: 7;}
    .order-8-xx {order: 8;}
    .order-9-xx {order: 9;}
    .order-10-xx {order: 10;}
    .order-11-xx {order: 11;}
    .order-12-xx {order: 12;}
}

.max-width-25 {max-width: 25px;}
.max-width-50 {max-width: 50px;}
.max-width-75 {max-width: 75px;}
.max-width-100 {max-width: 100px;}
.max-width-200 {max-width: 200px;}
.max-width-300 {max-width: 300px;}
.max-width-400 {max-width: 400px;}
.max-width-500 {max-width: 500px;}
.max-width-600 {max-width: 600px;}
.max-width-700 {max-width: 700px;}
.max-width-800 {max-width: 800px;}

.text-hidden > p {display: none;}
.text-hidden > a {display: inline-block;}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="radius"] {
    border-radius: 99999px;
}
.radius-5 {border-radius: 5px;}
.radius-10 {border-radius: 10px;}
.radius-15 {border-radius: 15px;}
.radius-20 {border-radius: 20px;}

[class*="border"] {
    border: 1px solid #000;
}
.border-0 {border: 0px solid #000;}
.border-1 {border: 1px solid #000;}
.border-2 {border: 2px solid #000;}
.border-3 {border: 3px solid #000;}
.border-4 {border: 4px solid #000;}

.border-bottom-0 {border-bottom: 0px solid #000;}
.border-bottom-1 {border-bottom: 1px solid #000;}
.border-bottom-2 {border-bottom: 2px solid #000;}
.border-bottom-3 {border-bottom: 3px solid #000;}
.border-bottom-4 {border-bottom: 4px solid #000;}

.border-light {border-color: var(--light);}
.border-dark {border-color: var(--dark);}
.border-light-purple {border-color: var(--lightPurple);}
.border-normal-purple {border-color: var(--normalPurple);}
.border-dark-purple {border-color: var(--darkPurple);}
.border-dark-gradient {
    border: 0px solid transparent;
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));
}
.border-light-gradient {
    border: 0px solid transparent;
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));
}
.border-1 {border-width: 1px;}
.border-2 {border-width: 2px;}
.border-3 {border-width: 3px;}
.border-4 {border-width: 4px;}
.border-5 {border-width: 5px;}
.border-6 {border-width: 6px;}
.border-7 {border-width: 7px;}
.border-8 {border-width: 8px;}
.border-9 {border-width: 9px;}
.border-10 {border-width: 10px;}

[class*="offset"] {
    position: relative;
}
[class*="offset-top"] {
    top: 10px;
}
[class*="offset-right"] {
    right: 10px;
}
[class*="offset-bottom"] {
    bottom: 10px;
}
[class*="offset-left"] {
    left: 10px;
}
.offset-top-5 {top: 5px;}
.offset-top-10 {top: 10px;}
.offset-top-15 {top: 15px;}
.offset-top-20 {top: 20px;}
.offset-right-5 {right: 5px;}
.offset-right-10 {right: 10px;}
.offset-right-15 {right: 15px;}
.offset-right-20 {right: 20px;}
.offset-bottom-5 {bottom: 5px;}
.offset-bottom-10 {bottom: 10px;}
.offset-bottom-15 {bottom: 15px;}
.offset-bottom-20 {bottom: 20px;}
.offset-left-5 {left: 5px;}
.offset-left-10 {left: 10px;}
.offset-left-15 {left: 15px;}
.offset-left-20 {left: 20px;}

[class*="padding"] {
    padding: 10px;
}
.padding-1 {padding: 1px;}
.padding-2 {padding: 2px;}
.padding-3 {padding: 3px;}
.padding-4 {padding: 4px;}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}

[class*="padding-vertical"] {
    padding: 10px 0;
}
.padding-vertical-5 {padding: 5px 0;}
.padding-vertical-10 {padding: 10px 0;}
.padding-vertical-15 {padding: 15px 0;}
.padding-vertical-20 {padding: 20px 0;}

[class*="padding-horizontal"] {
    padding: 0 10px;
}
.padding-horizontal-5 {padding: 0 5px;}
.padding-horizontal-10 {padding: 0 10px;}
.padding-horizontal-15 {padding: 0 15px;}
.padding-horizontal-20 {padding: 0 20px;}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="margin"] {
    margin: 10px;
}
.margin-5  {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}

.icon-xs, .font-size-xs {font-size: 0.5rem;}
.icon-sm, .font-size-sm {font-size: 1rem;}
.icon-md, .font-size-md {font-size: 1.5rem;}
.icon-lg, .font-size-lg {font-size: 2rem;}
.icon-xl, .font-size-xl {font-size: 2.5rem;}
.icon-xx, .font-size-xx {font-size: 3rem;}

.height-xs {height: 0.5rem;}
.height-sm {height: 1rem;}
.height-md {height: 1.5rem;}
.height-lg {height: 2rem;}
.height-xl {height: 2.5rem;}
.height-xx {height: 3rem;}
.height-4 {height: 4rem;}
.height-5 {height: 5rem;}
.height-6 {height: 6rem;}
.height-7 {height: 7rem;}
.height-8 {height: 8rem;}
.height-9 {height: 9rem;}
.height-10 {height: 10rem;}

.max-height-xs {max-height: 0.5rem;}
.max-height-sm {max-height: 1rem;}
.max-height-md {max-height: 1.5rem;}
.max-height-lg {max-height: 2rem;}
.max-height-xl {max-height: 2.5rem;}
.max-height-xx {max-height: 3rem;}
.max-height-4 {max-height: 4rem;}
.max-height-5 {max-height: 5rem;}
.max-height-6 {max-height: 6rem;}
.max-height-7 {max-height: 7rem;}
.max-height-8 {max-height: 8rem;}
.max-height-9 {max-height: 9rem;}
.max-height-10 {max-height: 10rem;}

.min-height-xs {min-height: 0.5rem;}
.min-height-sm {min-height: 1rem;}
.min-height-md {min-height: 1.5rem;}
.min-height-lg {min-height: 2rem;}
.min-height-xl {min-height: 2.5rem;}
.min-height-xx {min-height: 3rem;}
.min-height-4 {min-height: 4rem;}
.min-height-5 {min-height: 5rem;}
.min-height-6 {min-height: 6rem;}
.min-height-7 {min-height: 7rem;}
.min-height-8 {min-height: 8rem;}
.min-height-9 {min-height: 9rem;}
.min-height-10 {min-height: 10rem;}

.width-xs {width: 0.5rem;}
.width-sm {width: 1rem;}
.width-md {width: 1.5rem;}
.width-lg {width: 2rem;}
.width-xl {width: 2.5rem;}
.width-xx {width: 3rem;}
.width-4 {width: 4rem;}
.width-5 {width: 5rem;}
.width-6 {width: 6rem;}
.width-7 {width: 7rem;}
.width-8 {width: 8rem;}
.width-9 {width: 9rem;}
.width-10 {width: 10rem;}

.max-width-xs {max-width: 0.5rem;}
.max-width-sm {max-width: 1rem;}
.max-width-md {max-width: 1.5rem;}
.max-width-lg {max-width: 2rem;}
.max-width-xl {max-width: 2.5rem;}
.max-width-xx {max-width: 3rem;}
.max-width-4 {max-width: 4rem;}
.max-width-5 {max-width: 5rem;}
.max-width-6 {max-width: 6rem;}
.max-width-7 {max-width: 7rem;}
.max-width-8 {max-width: 8rem;}
.max-width-9 {max-width: 9rem;}
.max-width-10 {max-width: 10rem;}

.min-width-xs {min-width: 0.5rem;}
.min-width-sm {min-width: 1rem;}
.min-width-md {min-width: 1.5rem;}
.min-width-lg {min-width: 2rem;}
.min-width-xl {min-width: 2.5rem;}
.min-width-xx {min-width: 3rem;}
.min-width-4 {min-width: 4rem;}
.min-width-5 {min-width: 5rem;}
.min-width-6 {min-width: 6rem;}
.min-width-7 {min-width: 7rem;}
.min-width-8 {min-width: 8rem;}
.min-width-9 {min-width: 9rem;}
.min-width-10 {min-width: 10rem;}

.rounded {
    border-radius: 99999px;
    object-position: center;
    object-fit: cover;
}

.line-xs {line-height: 0.5em;}
.line-sm {line-height: 1em;}
.line-md {line-height: 1.5em;}
.line-lg {line-height: 2em;}
.line-xl {line-height: 2.5em;}
.line-xx {line-height: 3em;}

.width-content {width: max-content;}
.height-content {height: max-content;}

.display-none {display: none;}
.display-block {display: block;}
.display-inline-block {display: inline-block;}

.top {top: 0;}
.right {right: 0;}
.bottom {bottom: 0;}
.left {left: 0;}

[class*="lift"] {
    box-shadow: 0px 0px 2px 0px #000000;
}
.lift-2 {box-shadow: 0px 0px 2px 0px #000000;}
.lift-4 {box-shadow: 0px 0px 4px 0px #000000;}
.lift-6 {box-shadow: 0px 0px 6px 0px #000000;}
.lift-8 {box-shadow: 0px 0px 8px 0px #000000;}
.lift-10 {box-shadow: 0px 0px 10px 0px #000000;}

.light {color: var(--light);}
.dark {color: var(--dark);}
.light-purple {color: var(--lightPurple);}
.normal-purple {color: var(--normalPurple);}
.dark-purple {color: var(--darkPurple);}
.dark-gradient {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.light-gradient {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-light {background-color: var(--light);}
.bg-dark {background-color: var(--dark);}
.bg-light-purple {background-color: var(--lightPurple);}
.bg-normal-purple {background-color: var(--normalPurple);}
.bg-dark-purple {background-color: var(--darkPurple);}
.bg-dark-gradient {background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));}
.bg-light-gradient {background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));}

.fredoka-one {font-family: "FredokaOne";}
.nunito {font-family: "Nunito";}
.poppins{font-family: "Poppins";}
.graphik {font-family: "Graphik"; font-weight: 500;}

.font-weight-lighter {font-weight: lighter;}
.font-weight-normal {font-weight: normal;}
.font-weight-bold {font-weight: bold;}
.font-weight-bolder {font-weight: bolder;}

.navbar li a {
    padding: 20px 40px;
}

.navbar li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 99999px;
}

.navbar li a:hover::after {
    width: calc(100% - 80px);
    transition: all 0.3s ease;
    /*animation-name: navbar-link-hover;
    animation-duration: 0.3s;*/
}

.navbar a {
    position: relative;
    display: block;
    font-weight: bold;
}

#header-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu > *:not(a) {
    cursor: default;
}

[class*="dropdown-items"] {
    z-index: 1;
    display: none;/**/
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    width: max-content;
    height: max-content;
    overflow: auto;
    background-color: var(--light);
}
.dropdown-items-top-left {
    bottom: 100%;
    right: 0;
}
.dropdown-items-top-center {
    bottom: 100%;
    right: 50%;
    transform: translateX(50%);
}
.dropdown-items-top-right {
    bottom: 100%;
    left: 0;
}
.dropdown-items-bottom-left {
    top: 100%;
    right: 0;
}
.dropdown-items-bottom-center {
    top: 100%;
    right: 50%;
    transform: translateX(50%);
}
.dropdown-items-bottom-right {
    top: 100%;
    left: 0;
}
.dropdown-items-left-top {
    right: 100%;
    bottom: 0;
}
.dropdown-items-left-center {
    right: 100%;
    bottom: 50%;
    transform: translateY(50%);
}
.dropdown-items-left-bottom {
    right: 100%;
    top: 0;
}
.dropdown-items-right-top {
    left: 100%;
    bottom: 0;
}
.dropdown-items-right-center {
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
}
.dropdown-items-right-bottom {
    left: 100%;
    top: 0;
}

#banner {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);   
}

.display-more {
    cursor: pointer;
}

.img-credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--dark);
    font-size: 0.5rem;
}

.focus {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    /*transition: all 0.1s linear;*/
}

.focus:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    /*transition: all 0.1s linear;*/
}

.no-resize {resize: none;}

[type="submit"] {cursor: pointer;}

[class*="from-light"] {color: var(--light); /*transition: all 0.1s linear;*/}
[class*="from-dark"] {color: var(--dark); /*transition: all 0.1s linear;*/}
[class*="from-light-purple"] {color: var(--lightPurple); /*transition: all 0.1s linear;*/}
[class*="from-normal-purple"] {color: var(--normalPurple); /*transition: all 0.1s linear;*/}
[class*="from-dark-purple"] {color: var(--darkPurple); /*transition: all 0.1s linear;*/}
[class*="from-dark-gradient"] {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /*transition: all 0.1s linear;*/
}
[class*="from-light-gradient"] {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /*transition: all 0.1s linear;*/
    
}

[class*="to-light"]:hover {color: var(--light); /*transition: all 0.1s linear;*/}
[class*="to-dark"]:hover {color: var(--dark); /*transition: all 0.1s linear;*/}
[class*="to-light-purple"]:hover {color: var(--lightPurple); /*transition: all 0.1s linear;*/}
[class*="to-normal-purple"]:hover {color: var(--normalPurple); /*transition: all 0.1s linear;*/}
[class*="to-dark-purple"]:hover {color: var(--darkPurple); /*transition: all 0.1s linear;*/}
[class*="to-dark-gradient"]:hover {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /*transition: all 0.1s linear;*/
}
[class*="to-light-gradient"]:hover {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /*transition: all 0.1s linear;*/
    
}

[class*="from-bg-light"] {background-color: var(--light);}
[class*="from-bg-dark"] {background-color: var(--dark);}
[class*="from-bg-light-purple"] {background-color: var(--lightPurple);}
[class*="from-bg-normal-purple"] {background-color: var(--normalPurple);}
[class*="from-bg-dark-purple"] {background-color: var(--darkPurple);}

[class*="to-bg-light"]:hover {background-color: var(--light);}
[class*="to-bg-dark"]:hover {background-color: var(--dark);}
[class*="to-bg-light-purple"]:hover {background-color: var(--lightPurple);}
[class*="to-bg-normal-purple"]:hover {background-color: var(--normalPurple);}
[class*="to-bg-dark-purple"]:hover {background-color: var(--darkPurple);}

.focus-light:focus-within {color: var(--light); /*transition: all 0.1s linear;*/}
.focus-dark:focus-within {color: var(--dark); /*transition: all 0.1s linear;*/}
.focus-light-purple:focus-within {color: var(--lightPurple); /*transition: all 0.1s linear;*/}
.focus-normal-purple:focus-within {color: var(--normalPurple); /*transition: all 0.1s linear;*/}
.focus-dark-purple:focus-within {color: var(--darkPurple); /*transition: all 0.1s linear;*/}
.focus-dark-gradient:focus-within {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /*transition: all 0.1s linear;*/
}
.focus-light-gradient:focus-within {
    background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /*transition: all 0.1s linear;*/
    
}

.focus-bg-light:focus-within {background-color: var(--light);}
.focus-bg-dark:focus-within {background-color: var(--dark);}
.focus-bg-light-purple:focus-within {background-color: var(--lightPurple);}
.focus-bg-normal-purple:focus-within {background-color: var(--normalPurple);}
.focus-bg-dark-purple:focus-within {background-color: var(--darkPurple);}
.focus-bg-dark-gradient:focus-within {background-image: linear-gradient(-45deg, var(--lightPurple), var(--darkPurple));}
.focus-bg-light-gradient:focus-within {background-image: linear-gradient(-45deg, var(--lightPurple), var(--normalPurple));}

[class*="hover-lift"] {
    box-shadow: 0px 0px 0px 0px #000000;
    /*transition: all 0.1s linear;*/
}
.hover-lift-2 {box-shadow: 0px 0px 0px 0px #000000;}
.hover-lift-4 {box-shadow: 0px 0px 0px 0px #000000;}
.hover-lift-6 {box-shadow: 0px 0px 0px 0px #000000;}
.hover-lift-8 {box-shadow: 0px 0px 0px 0px #000000;}
.hover-lift-10 {box-shadow: 0px 0px 0px 0px #000000;}

[class*="hover-lift"]:hover {
    box-shadow: 0px 0px 2px 0px #000000;
    /*transition: all 0.1s linear;*/
}
.hover-lift-2:hover {box-shadow: 0px 0px 2px 0px #000000;}
.hover-lift-4:hover {box-shadow: 0px 0px 4px 0px #000000;}
.hover-lift-6:hover {box-shadow: 0px 0px 6px 0px #000000;}
.hover-lift-8:hover {box-shadow: 0px 0px 8px 0px #000000;}
.hover-lift-10:hover {box-shadow: 0px 0px 10px 0px #000000;}

.empty-default{
    border: none;   
}

.whatsapp-button{
    z-index: 1;
    position: fixed;
}