/*

1px     - 800px   = xs
801px   - 1280px  = sm
1281px  - 1600px  = md
1601px  - 2100px  = lg
2101px  - 3440px  = xl
3441px  - ~px     = xx

*/

:root{
    /* Cores */
    --light: #F5F5F5;
    --dark: #0E2431;
    --lightPurple: #FF00FF;
    --normalPurple: #9F00FF;
    --darkPurple: #3F00FF;
}

@font-face {
    font-family: "FredokaOne";
    src: url("../fonts/FredokaOne/FredokaOne-Regular.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--light);
}

.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

[class*="row"] {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
.row-between {justify-content: space-between;}
.row-evenly {justify-content: space-evenly;}
.row-center {justify-content: center;}
.row-start {justify-content: flex-start;}
.row-end {justify-content: flex-end;}
.items-center {align-items: center;}
.flex-column {flex-direction: column;}
.flex-nowrap {flex-wrap: nowrap;}

[class*="col"] {
    display: block;
    width: 100%;
}

/* Para os xs */
@media only screen and (min-width: 1px) {
    .col-1-xs {width: 8.3333%;}
    .col-2-xs {width: 16.6666%;}
    .col-3-xs {width: 25%;}
    .col-4-xs {width: 33.3333%;}
    .col-5-xs {width: 41.6666%;}
    .col-6-xs {width: 50%;}
    .col-7-xs {width: 58.3333%;}
    .col-8-xs {width: 66.6666%;}
    .col-9-xs {width: 75%;}
    .col-10-xs {width: 83.3333%;}
    .col-11-xs {width: 91.6666%;}
    .col-12-xs {width: 100%;}
}

/* Para os sm */
@media only screen and (min-width: 801px) {
    .col-1-sm {width: 8.3333%;}
    .col-2-sm {width: 16.6666%;}
    .col-3-sm {width: 25%;}
    .col-4-sm {width: 33.3333%;}
    .col-5-sm {width: 41.6666%;}
    .col-6-sm {width: 50%;}
    .col-7-sm {width: 58.3333%;}
    .col-8-sm {width: 66.6666%;}
    .col-9-sm {width: 75%;}
    .col-10-sm {width: 83.3333%;}
    .col-11-sm {width: 91.6666%;}
    .col-12-sm {width: 100%;}
}

/* Para os md */
@media only screen and (min-width: 1281px) {
    .col-1-md {width: 8.3333%;}
    .col-2-md {width: 16.6666%;}
    .col-3-md {width: 25%;}
    .col-4-md {width: 33.3333%;}
    .col-5-md {width: 41.6666%;}
    .col-6-md {width: 50%;}
    .col-7-md {width: 58.3333%;}
    .col-8-md {width: 66.6666%;}
    .col-9-md {width: 75%;}
    .col-10-md {width: 83.3333%;}
    .col-11-md {width: 91.6666%;}
    .col-12-md {width: 100%;}
}

/* Para os lg */
@media only screen and (min-width: 1601px) {
    .col-1-lg {width: 8.3333%;}
    .col-2-lg {width: 16.6666%;}
    .col-3-lg {width: 25%;}
    .col-4-lg {width: 33.3333%;}
    .col-5-lg {width: 41.6666%;}
    .col-6-lg {width: 50%;}
    .col-7-lg {width: 58.3333%;}
    .col-8-lg {width: 66.6666%;}
    .col-9-lg {width: 75%;}
    .col-10-lg {width: 83.3333%;}
    .col-11-lg {width: 91.6666%;}
    .col-12-lg {width: 100%;}
}

/* Para os xl */
@media only screen and (min-width: 2101px) {
    .col-1-xl {width: 8.3333%;}
    .col-2-xl {width: 16.6666%;}
    .col-3-xl {width: 25%;}
    .col-4-xl {width: 33.3333%;}
    .col-5-xl {width: 41.6666%;}
    .col-6-xl {width: 50%;}
    .col-7-xl {width: 58.3333%;}
    .col-8-xl {width: 66.6666%;}
    .col-9-xl {width: 75%;}
    .col-10-xl {width: 83.3333%;}
    .col-11-xl {width: 91.6666%;}
    .col-12-xl {width: 100%;}
}

/* Para os xx */
@media only screen and (min-width: 3441px) {
    .col-1-xx {width: 8.3333%;}
    .col-2-xx {width: 16.6666%;}
    .col-3-xx {width: 25%;}
    .col-4-xx {width: 33.3333%;}
    .col-5-xx {width: 41.6666%;}
    .col-6-xx {width: 50%;}
    .col-7-xx {width: 58.3333%;}
    .col-8-xx {width: 66.6666%;}
    .col-9-xx {width: 75%;}
    .col-10-xx {width: 83.3333%;}
    .col-11-xx {width: 91.6666%;}
    .col-12-xx {width: 100%;}
}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="radius"] {
    border-radius: 99999px;
}
.radius-5 {border-radius: 5px;}
.radius-10 {border-radius: 10px;}
.radius-15 {border-radius: 15px;}
.radius-20 {border-radius: 20px;}

[class*="padding"] {
    padding: 10px;
}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}

/* Não é usado diretamente em col, utilize em seus filhos como alternativa */
[class*="margin"] {
    margin: 10px;
}
.margin-5 {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.fredoka-one {font-family: "FredokaOne";}
.nunito {font-family: "Nunito";}
.poppins{font-family: "Poppins";}

.navbar-item {
    display: inline-block;   
}

.navbar a {
    position: relative;
    display: block;
    font-weight: bold;
    color: var(--dark);
}

.navbar-item a {
    padding: 20px 40px;
}

.navbar a img {
    width: 100%;
}

@keyframes navlink-hover {
    from {width: 0;}
    to {width: calc(100% - 80px);}
}

.navbar-item a:hover::after {
    content: "";
    position: absolute;
    width: calc(100% - 80px);
    height: 5px;
    background-color: var(--normalPurple);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 99999px;
    animation-name: navlink-hover;
    animation-duration: 0.3s;
}